<h1 class="display-4">{{ l.headline }}</h1>
<p>{{ l.explainer }}.</p>

<div class="row py-4" style="background-color: #1C1D1D;">
  <div class="col-xs-0 col-sm-1 col-md-1 col-lg-2 col-xl-2"></div>
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-xl-8">
    <div class="embed-responsive embed-responsive-16by9 rounded">
      <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="embed-responsive-item" src="https://www.youtube.com/embed/ScMzIvxBSi4"></iframe>
    </div>
  </div>
  <div class="col-xs-0 col-sm-1 col-md-1 col-lg-2 col-xl-2"></div>
</div>