{% assign variants_query  = "variants" | db_find: company_id: account._id, _id: params.id %}
{% assign variant         = variants_query.results.first %}

{% if variant != nil %}
    <style>
      @media print {
        .greeting { display: none; }
      }
    </style>
  {% assign products_query        = "products" | db_find: company_id: account._id, _id: variant.product_id %}
  {% assign product               = products_query.results.first %}

  <div id="printable">
    <script src="https://cdn.jsdelivr.net/npm/easyqrcodejs@3.8.1/dist/easy.qrcode.min.js" integrity="sha256-OpZcMRzXbZNlZ6n9RULLGHKeUUejDc3+n8zcwkS3FLk=" crossorigin="anonymous"></script>
    <table class="mb-3">
      <tbody>
        <tr>
          <td colspan="4">
            <h2>
              {{ product.name | decrypt | strip_html }}
              {% assign variations = "" %}
              {% for variation in variant.variations %}
                {% if variations != "" %}
                  {% capture variations %}{{ variations }}, {% endcapture %}
                {% endif %}
                {% capture variations %}{{ variations }}{{ variation[0] | decrypt | strip_html }}: {{ variation[1] | decrypt | strip_html }}{% endcapture %}
              {% endfor %}
              {% if variations != "" %}
                &nbsp;({{ variations | strip_html }})
              {% endif %}
            </h2>
          </td>
        </tr>
        <tr>
          <td class="pr-3">
            <b>{{ l.variant_headers.sku }}:</b>
          </td>
          <td>
            {{ variant.sku | decrypt | strip_html }}
          </td>
        </tr>
        {% if variant.sku_2 != nil and variant.sku_2 != "" %}
          <tr>
            <td class="pr-3">
              <b>{{ l.variant_headers.sku_2 }}:</b>
            </td>
            <td>
              {{ variant.sku_2 | decrypt | strip_html }}
            </td>
          </tr>
        {% endif %}
        {% if variant.ean != nil and variant.ean != "" %}
          <tr>
            <td class="pr-3">
              <b>{{ l.variant_headers.ean }}:</b>
            </td>
            <td>
              {{ variant.ean | decrypt | strip_html }}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    {% assign pms = "plus minus" | split: " " %}

    <table>
      <tbody>
        {% for i in (1..5) %}
          <tr>
            {% for pm in pms %}
              {% assign pls = "0 5" | split: " " %}
              {% for pl in pls %}
                {% assign p = pl | plus: 0 %}
                {% assign n = i | plus: p %}
                <td class="p-3 text-center">
                  {% if pm == "plus" %}
                    {% assign sign = "" %}
                    {% assign colour = "#046A09" %}
                  {% else %}
                    {% assign sign = "-" %}
                    {% assign colour = "#8B0000" %}
                  {% endif %}

                  {% assign image_name = "qr" %}
                  {% capture image_name %}{{ image_name }}_{{ n }}.png{% endcapture %}
                  {% assign image_path = image_name | image %}

                  {% assign image_div = "qr" %}
                  {% capture image_div %}{{ pm }}_{{ image_div }}_{{ n }}{% endcapture %}
              
                  <div id="{{ image_div }}"></div>
                   
                  <script>
                    var options = {
                      text: "https://growcommerce.app/variants/{{ variant._id }}/scan?stock_change={{ sign }}{{ n }}",
                      colorDark: "{{ colour }}",
                      backgroundImage: "{{ image_path }}",
                      dotScale: "0.7",
                      height: 120,
                      width: 120
                    };
                    new QRCode(document.getElementById("{{ image_div }}"), options);
                  </script>
                </td>
              {% endfor %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}