{% assign orders_query = "orders" | db_find: company_id: params._id %}

{% if orders_query.results_count > 0 %}

  {% assign orders            = orders_query.results %}
  {% assign order_ids         = "" %}

  {% for order in orders %}

    {% capture order_ids %}{{ order_ids }} {{ order._id }}{% endcapture %}

  {% endfor %}

  {% assign order_ids         = order_ids | lstrip | split: " " %}

  {% assign order_lines_query = "order_lines" | db_find: company_id: params._id, order_ids: order_ids %}

  {% if order_lines_query.results_count > 0 %}

    {% assign order_lines = order_lines_query.results %}
    {% assign variant_ids = "" %}

    {% for order_line in order_lines %}
      {% if order_line.variant_id != nil %}

        {% capture variant_ids %}{{ variant_ids }} {{ order_line.variant_id }}{% endcapture %}

      {% endif %}
    {% endfor %}

    {% assign variant_ids = variant_ids | lstrip | split: " " %}

    {% if variant_ids.size > 0 %}

      {% assign variants_query  = "variants" | db_find: company_id: params._id, variant_ids: variant_ids %}
      {% assign variants        = variants_query.results %}
      {% assign variants        = variants | to_hash: "_id" %}

      {% for order_line in order_lines %}

        {% assign variant_id = order_line.variant_id %}

        {% if variant_id != nil %}

          {% assign variant   = variants[variant_id] %}
          {% assign stock     = variant.stock | plus: order_line.quantity %}
          {% assign variant   = variant | push_to_hash: "stock", stock %}
          {% assign variants  = variants | push_to_hash: variant_id, variant %}

        {% endif %}
      {% endfor %}

      {% assign order_line_groups = order_lines | to_hash_groups: "order_id" %}

      {% for order in orders %}

        {% assign order_id    = order._id %}
        {% assign order_lines = order_line_groups[order_id] %}

        {% if order_lines != nil %}

          {% assign print_order     = true %}
          {% assign package_weight  = 300 %}
          {% assign packing_list    = "" %}

          {% for order_line in order_lines %}

            {% assign variant_id = order_line.variant_id %}

            {% if variant_id != nil %}

              {% assign variant         = variants[variant_id] %}
              {% assign stock           = variant.stock | minus: order_line.quantity %}
              {% assign weight          = 150 | times: order_line.quantity %}
              {% assign package_weight  = weight | plus: weight %}
              {% assign product_name    = order_line.product_name | decrypt %}

              {% capture packing_list %}{{ packing_list }}{{ product_name }}: {{ order_line.quantity }}. {% endcapture %}

              {% if stock < 0 %}

                {% assign print_order = false %}

              {% endif %}

              {% assign variant   = variant | push_to_hash: "stock", stock %}
              {% assign variants  = variants | push_to_hash: variant_id, variant %}

            {% endif %}
          {% endfor %}

          {% if print_order and order.print_state == nil %}

            {% assign printing_order_query = "printing_order" | db_update_one: company_id: params._id, order_id: order._id %}

            {% if printing_order_query.updated_count == 1 %}

              {% assign shipping_name       = order.shipping_name | decrypt %}
              {% assign shipping_first_name = order.shipping_first_name | decrypt %}
              {% assign shipping_last_name  = order.shipping_last_name | decrypt %}

              {% if shipping_name != nil %}

                {% assign name = shipping_name %}

              {% else %}

                {% assign name = shipping_first_name %}
                {% capture name %}{{ name }} {{ shipping_last_name }}{% endcapture %}

              {% endif %}

              {% assign address_1           = order.shipping_address_1 | decrypt %}
              {% assign address_2           = order.shipping_address_2 | decrypt %}
              {% assign zip_code            = order.shipping_zip_code | decrypt %}
              {% assign city                = order.shipping_city | decrypt %}
              {% assign mail_address        = order.mail_address | decrypt %}
              {% assign phone               = order.shipping_phone | decrypt %}

              {% assign print_order_webhook = "print_order" | webhook: shipmondo_api_token: project.secrets.shipmondo_api_token, address_1: address_1, address_2: address_2, zip_code: zip_code, city: city, mail_address: mail_address, phone: phone, package_weight: package_weight, packing_list: packing_list %}

              {% if print_order_webhook.code == 200 %}

                {% assign printed_order_query = "printed_order" | db_update_one: company_id: params._id, order_id: order._id %}

              {% endif %}
            {% endif %}
          {% endif %}

        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endif %}